<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Đăng Nhập</h5>
          <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-label-group">
              <label for="username">Tên đăng nhập</label>
              <input type="text" id="username" class="form-control" name="username" #username="ngModel"  ngModel required placeholder="Tên đăng nhập" />
              <div *ngIf="username.errors && (username.touched || username.dirty)">
                <p *ngIf="username?.errors?.required" class="alert alert-danger">Đây là trường bắt buộc</p>
              </div>
            </div>


            <div class="form-label-group">
              <label for="password">Mật khẩu</label>
              <input type="password" id="password"class="form-control" name="password" #password="ngModel" ngModel required placeholder="Mật khẩu" />
              <div *ngIf="password.errors && (password.touched || password.dirty)">
                <p *ngIf="password?.errors?.required" class="alert alert-danger">Đây là trường bắt buộc</p>
              </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase btn-primary" type="submit">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block text-uppercase btn-info" type="button">Đăng ký ngay</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
