<div class="row">
        <div class="col-3">
            <div class="w-100 h-100 text-left pb-4" style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
                <h1 style="text-align: center">Combo Bắp Nước</h1>
                <app-combo *ngFor="let combo of danhsachcombo" (evttru) = "trucombo($event)"
                                    (evttang)="tangcombo($event)" [combo]="combo"></app-combo>
            </div>
        </div>
        <div class="col-4 mx-auto pb-4" style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
            <h1 class="text-center">Đặt Ghế</h1>
            <app-ghe *ngFor="let ghe of danhsachgherap" [itemghe]="ghe" (emitstatus)="DatgheParent($event, ghe)"></app-ghe>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-md-4 hinhdaidien" style="width:180px; height:180px">
                    <!--Hình ảnh-->
                    <img class="mr-3" src="{{phim.HinhAnh}}" width="100%" height="100%">
                </div>
                <div class="col-md-8">
                    <!--Nội dung-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 30%">Tên phim</td>
                                <td>{{phim.TenPhim}}</td>
                            </tr>
                            <tr>
                                <td style="width: 40%">Đánh giá</td>
                                <td class="danhgia">{{phim.DanhGia}}/10 <i class="fa fa-star"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            <!-- <p>Số ghế còn lại: {{sogheconlai}} (ghế)</p> -->
            <h3 style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75); margin-top: 2px">
                <p style="color: coral">Số ghế đã đặt: {{soghedadat}} (ghế)</p>
            </h3>
            <span>ghe so:</span>
            <span *ngFor="let ghe of dsghedadat">
                {{ghe.TenGhe}},
            </span>
            <h4 style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
                <p style="color: cornflowerblue">Tổng tiền ghế: {{tongtienghe()}} VND</p>
            </h4>
            <hr>
            <h3 style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
                <p style="color: coral">Combo bắp nước: </p>
            </h3>
            <div class="row px-3" *ngFor = "let cbn of dscombodadat" style="margin-bottom: 0; padding-bottom: 0">
                    <p>{{cbn.name}}.</p>
                    <p class="px-2">So Luong: {{cbn.quantity}}</p>
            </div>
            <h4 style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
                <p style="color: cornflowerblue">Tong Tien Commbo: {{tinhtongtien()}} (vnd)</p>
            </h4>
            <div class="text-center">
                <button routerLink="/home" class="btn btn-success text-center" style="box-shadow: none; margin-bottom: 2px">Thanh Toan</button>
            </div>
            
        </div>
</div>


