<div class="row">
        <div class="col-4">
            <div class="w-100 h-100 text-left pb-4" style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
                <h1 style="text-align: center">Combo Bắp Nước</h1>
                <app-combo *ngFor="let combo of danhsachcombo" (evttru) = "trucombo($event)"
                                    (evttang)="tangcombo($event)" [combo]="combo"></app-combo>
            </div>
        </div>
        <div class="col-4 mx-auto pb-4" style="box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);">
            <h1 class="text-center">Đặt Ghế</h1>
            <app-ghe *ngFor="let ghe of danhsachghe" [itemghe]="ghe" (emitstatus)="DatgheParent($event, ghe)"></app-ghe>
        </div>
        <div class="col-4 mt-5">
            <!-- <p>Số ghế còn lại: {{sogheconlai}} (ghế)</p> -->
            <h3><p style="color: coral">Số ghế đã đặt: {{soghedadat}} (ghế)</p></h3>
            <hr style="width: 50%;; margin-left: 0">
            <p *ngFor="let ghe of dsghedadat">
                <span>ghe so:{{ghe.SoGhe}} </span> <span> Gia: {{ghe.Gia}}</span>
            </p>
            <hr style="width: 50%; margin-left: 0">
            <h4><p style="color: cornflowerblue">Tổng tiền ghế: {{tongtienghe()}} VND</p></h4>
            <hr >
            <h3><p style="color: coral">Combo bắp nước: </p></h3>
            
            
        </div>
</div>


